.header-nav{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;

}

.header-nav a{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
    color:black;
}
.header-nav a:hover{
    background-color: tomato;
    padding: 3px;
    border-radius: 3px;
}